
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="Users" asp-action="TestPost">
    <input id="btnSubmit" type="submit"  class="btn btn-primary" value="OnSubmit"/>
</form>

